@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf7;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    /* padding: 30px; */
}

a {
    text-decoration: none;
}

main {
    margin-top: 285px;
    text-align: center;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: 800;
    line-height: 1.2;
}

h4 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

img {
    vertical-align: middle;
    border-style: none;
}


input,
button {
    height: 100%;
    border-radius: 8px;
    overflow: visible;
}

button {
    cursor: pointer;
}

.free_trial_button {
    background-color: #025157;
    color: #ffffff;
    border: none;
    margin-left: -10px;
    padding: 18px 32px;
    font-size: 16pt;
}

input {
    width: 250px;
    padding: 10px;
    padding-right: 50px;
    border-radius: 8px;
    border: 1px solid black;
    height: 100%;
}

li {
    display: inline-block;
}

.header {
    border: 1px black solid;
    height: 55px;
    width: 100%;
}

.header>* {
    display: inline-block;
    margin: 0px;
}

.left_corner_logo {
    border: 1px black solid;
    width: 15%;
}

.nav_bar {
    border: 1px black solid;
    list-style: none;
    width: 50%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0,0,0,.9);
}

.login_signup_container {
    border: 1px black solid;
    /* width: 15%; */
}




li {
    border: 1px black solid;
}

ul {
    border: 1px black solid;
}

.login_signup_container>* {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    
}

.signup_button {
    width: 118px;
    height: 55px;
    background-color: #67b54b;
    color:#ffffff;
    padding: 14px 12px;
    border: 0;
    border-radius: 5px;
}

.login_button {
    width: 118px;
    height: 55px;
    padding: 14px 12px;
    border: 0;
    border-radius: 5px;
    color: #67b560;
    font-weight: 600;
}